<tr class="section-1">
                                <td class=" mobile_full100 " style=" padding: 30px 0px 0px 0px; width:100%; ">
                                    <table class="mobile_full100"
                                        style=" width: 100%;border-collapse:collapse;border-spacing:0;text-align:left;min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; margin: 0 auto; width: 100%; background-color: #ffffff; ">
                                        <tr>
                                            <td class="mobile_alignleft mobile_pb12"
                                                style=" padding: 12px 0px 0px 0px; border-radius: 4px; "> <span
                                                    style=" display: block; text-align: center; "> <a
                                                        href="{{article-link}}?{{utm}}&utm_campaign={{trackingName}}{{date}}-ca&utm_medium=email&est=[EMAIL_SECURE_LINK]&utm_content={{alt}}"
                                                        target="_blank" rel="noopener"> <img class=" center autowidth "
                                                            align="center" border="0"
                                                            src="{{article-img}}"
                                                            alt="{{article-title}}"
                                                            style=" height: auto; max-width: 100%; border-radius: 4px; "
                                                            width="600"> </a> </span> </td>
                                        </tr>
                                        <tr>
                                            <td align="left"> <span class=" block "
                                                    style=" word-break: break-word; margin: 0; padding: 24px 0px 0px 0px; text-align: left; ">
                                                    <span class="mb_fz17"
                                                        style=" font-size: 20px; line-height: 23px; font-weight: 700; font-family: Arial, sans-serif; color: #1C3B62; text-transform: uppercase; vertical-align:top; max-width: 100%; ">
                                                        {{article-label}}</span> </span> </td>
                                        </tr>
                                        <tr>
                                            <td style=" padding: 0px 0px 0px 0px; text-align: left; "> <a
                                                    class="titleText"
                                                    href="{{article-link}}?{{utm}}&utm_campaign={{trackingName}}{{date}}-ca&utm_medium=email&est=[EMAIL_SECURE_LINK]&utm_content={{alt}}"
                                                    target="_blank" rel="noopener" style="text-decoration:none;"> <span
                                                        style="word-break: break-word;margin: 0;"> <span
                                                            class="mb_fz22 mb_lh25"
                                                            style=" font-size: 28px; line-height: 32px; font-weight: 400; font-family: Georgia, 'Times New Roman', serif; color: #000; text-transform: none; ">
                                                            {{article-title}}</span>
                                                    </span> </a> </td>
                                        </tr>
                                        <tr>
                                            <td style=" padding: 8px 0px 0px 0px; text-align: left; ">
                                                <p style="font-family: Inter, Georgia;
font-size: 15.188px;
font-style: normal;
font-weight: 400;
line-height: 23px;
color: #333;
margin: 0px;
mso-line-height-alt: 1.51;
margin-bottom: 16px;" class="article_paragraph">{{article-content}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 0px;
padding-bottom:30px;
text-align: center;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;" align="left">
                                                                <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{article-link}}?{{utm}}&utm_campaign={{trackingName}}{{date}}-ca&utm_medium=email&est=[EMAIL_SECURE_LINK]&utm_content={{alt}}" style="height:34px; v-text-anchor:middle; width:130px;" arcsize="14.706%" strokeweight="1px" strokecolor="#147ABE" fillcolor="#ffffff"><w:anchorlock/><center style="color:#000000;"><![endif]--><a
                                                                    href="{{article-link}}?{{utm}}&utm_campaign={{trackingName}}{{date}}-ca&utm_medium=email&est=[EMAIL_SECURE_LINK]&utm_content={{alt}}"
                                                                    target="_blank"
                                                                    style="box-sizing: border-box; padding: 12px 93px; display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #000; background-color: #147ABE; border: 1px solid #147ABE; border-radius: 8px;-webkit-border-radius: 8px; -moz-border-radius: 8px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;font-size: 14px; line-height: 15px; font-family: Inter, Helvetica, Arial, sans-serif;"
                                                                    class="v-button  mobile_block mobile_pl12pt23"><span
                                                                        style="display:block;padding:0px;color: #fff; font-size:14px; line-height: 17px; font-weight:700; font-family:  Inter,Arial, sans-serif;">READ
                                                                        MORE</span></a>
                                                                <!--[if mso]></center></v:roundrect><![endif]-->
                                                            </td>
                                                            <td style="width: 50%;">
                                                                <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.theepochtimes.com/world/in-depth-why-does-communist-china-need-over-170-diplomats-in-canada-5272086?utm_source=focus_article_paid&utm_campaign=focus_article_2025-07-11-ca&utm_medium=email&est=[EMAIL_SECURE_LINK]&utm_content=focus_article-2" style="height:34px; v-text-anchor:middle; width:130px;" arcsize="14.706%" strokeweight="1px" strokecolor="#000000" fillcolor="#ffffff"><w:anchorlock/><center style="color:#000000;"><![endif]--><a
                                                                    href="mailto:?subject=Check%20out%20this%20story%20from%20The%20Epoch%20Times%21&cc=giftaccess%40theepochtimes.com&body={{article-title}}%0A%0ARead%20more:%0A%0A{{article-link}}?utm_source=ref_share%26src_src=ref_share%26utm_campaign={{trackingName}}{{date}}-ca-a%26src_cmp={{trackingName}}{{date}}-ca-a%0D%0A%0D%0AIf%20you%20don't%20have%20an%20account%20with%20The%20Epoch%20Times%20yet%2C%20you%20will%20automatically%20receive%20another%20email%20with%20a%20link%20that%20gives%20you%20free%20access%20to%20read%20the%20article%2C%20and%20also%20an%20invite%20to%20try%20full%20access%20to%20the%20entire%20website."
                                                                    target="_blank" class="v-button share_email_a"
                                                                    style="box-sizing: border-box;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #000; background-color: #fff; border: 1px solid #fff; border-radius: 5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;font-size: 14px; line-height: 15px; font-family: Inter, Helvetica, Arial, sans-serif;"
                                                                    class="share_email_a mobile_full mobile_block"
                                                                    class="mobile_plr16"><span class="share_email_text"
                                                                        style="display:block;padding:10px 11px;color: #147ABE; font-size:14px; line-height: 17px; font-weight:700; font-family: Inter,Arial, sans-serif;">SHARE*</span></a>
                                                                <!--[if mso]></center></v:roundrect><![endif]-->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>